.ProductCatalog {
    margin-left: 36px;
    width: 75%;
    
    p {
        font-family: "Roboto", sans-serif;
        margin-bottom: 10px;
    }

    figure {
        margin: 0 10px;
        text-align: center;

        img {
            width: 200px;
            height: 200px;
        }

        figcaption {
            font-family: "Roboto", sans-serif;
            font-style: italic;
        }
    }

    .productsContainer {
        display: flex;
        flex-wrap: wrap;
    }
}
