.ProductFilter {
    width: 25%;

    .containerFilter {
        display: flex;
        justify-content: space-between;
        p {
            font-family: "Roboto", sans-serif;
            margin-bottom: 10px;
        }

        img {
            width: 20px;
            cursor: pointer;
        }
    }

    .containerOptions {
        margin-top: 10px;

        .option {
            margin: 5px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        label {
            font-family: "Roboto", sans-serif;
            margin-left: 10px;
        }
    }
}
